.color-box {
  width: 80%;
  height: 20px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #ffffff;
}

.status-box {
  width: 200px;
  height: 200px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 25px;
  background-color: #0000ff;
  box-shadow: 5px 5px #888888;
}

.status-title {
  margin: 10px;
}